* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'roboto', sans-serif;
  max-width: 1920px;
}

header {
  position: relative;
  height: 100vh;
  background-image: url("../img/zboze.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: center;
  background-position-x: center;
}

header .logo {
  position: absolute;
  top: 33%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 40vh;
  opacity: .8;
}

header .description {
  position: absolute;
  top: 70%;
  left: 0;
  height: 10vh;
  width: 100%;
  text-align: center;
  background-color: #ddd;
  color: black;
  text-transform: uppercase;
  opacity: .8;
  line-height: 10vh;
  font-size: 20px;
  font-weight: 700;
}

@media (min-width: 768px) {
  header .logo {
    height: 40vh;
  }
  header .description {
    font-size: 35px;
  }
}

@media (min-width: 1024px) {
  header .logo {
    height: 45vh;
  }
  header .description {
    font-size: 55px;
  }
}

@media (min-width: 1440px) {
  header .logo {
    height: 50vh;
  }
  header .description {
    font-size: 58px;
    height: 12vh;
    line-height: 12vh;
  }
}
