* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'roboto', sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

header {
  position: relative;
  height: 100vh;
  background-image: url("../img/zboze.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: center;
  background-position-x: center;
  margin-bottom: 40px;
}

header .logo {
  position: absolute;
  top: 33%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 40vh;
  opacity: .8;
}

header .description {
  position: absolute;
  top: 70%;
  left: 0;
  height: 10vh;
  width: 100%;
  text-align: center;
  background-color: #ddd;
  color: black;
  text-transform: uppercase;
  opacity: .8;
  line-height: 10vh;
  font-size: 18px;
  font-weight: 400;
}

@media (min-width: 768px) {
  header .logo {
    height: 40vh;
  }
  header .description {
    font-size: 33px;
  }
}

@media (min-width: 1024px) {
  header .logo {
    height: 45vh;
  }
  header .description {
    font-size: 53px;
  }
}

@media (min-width: 1440px) {
  header .logo {
    height: 50vh;
  }
  header .description {
    font-size: 56px;
    height: 12vh;
    line-height: 12vh;
  }
}

.about {
  max-width: 1024px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.about h1 {
  text-transform: uppercase;
  font-weight: 700;
  background-color: #93afc9;
  padding: 15px;
  font-size: 15px;
  text-align: center;
  color: white;
}

.about span {
  font-weight: 700;
}

.about p {
  font-size: 13px;
  padding: 15px 35px;
  text-align: center;
}

@media (min-width: 411px) {
  .about h1 {
    font-size: 17px;
  }
  .about p {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .about h1 {
    font-size: 30px;
  }
  .about p {
    font-size: 25px;
    padding: 45px;
  }
}

main {
  background-image: url(../img/bele.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  color: white;
}

main .offer {
  font-size: 16px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0;
}

main .characterisation {
  max-width: 768px;
  padding: 0 30px;
  font-size: 10px;
  margin: 0 auto;
}

main .characterisation h2 {
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
}
